/* Navigation Drawer */
.mdl-layout__drawer .mdl-layout-title {
    position: relative;
    background: #444;
    color: #fff;
    height: 160px;
}

.mdl-layout__drawer .mdl-layout-title .voc-title-logo {
    position: absolute;
    bottom: 4px;
}

/* Navigation Menu */
.voc-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.voc-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #ddd;
}

.search-box.is-focused {
    width: calc(100% - 48px);
}

.search-box .mdl-textfield__expandable-holder {
    width: 100%;
}

#search-field {
    border-radius: 5px !important;
    background: #fff !important;
    color: #000;
}

/* Grid Cards */
.mygrid {
    max-width: 2000px;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
}

.mdl-cell {
    box-sizing: border-box;
    /*height: 400px;*/
    width: 350px;
    padding: auto;
    color: white;
}

.mdl-grid:first-of-type .mdl-cell {
    height: 350px;
}

.voc-card.mdl-card {
  width: 100%;
  margin: auto;
}

.voc-card > .mdl-card__title {
    /*width: 400px;*/
    height: 226px;
    color: #fff;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
    background: #000;
}

/* Video Player */
.voc-watch-card.mdl-card{
    margin: 20px auto;
    width: 80%;
}

.voc-watch-card .mdl-card__title{
    background-color: #000;
}

.video {
    width: 100%;
    margin: auto;
}

